body{
  font-family: 'Helvetica Neue';
  background-color: rgb(35, 114, 164);
  color: black;
}
nav{
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue';
  font-size: 10px;
}
a, a:visited{
  text-decoration: none;
  color: inherit;
}
#brand{
  font-size: 40px;
  font-family: 'Ceviche One', cursive;
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}
