body{
  font-family: 'Helvetica Neue';
  color: black;
}
.navbar-default{
  background: rgb(35, 114, 164);
  color: white;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  position: relative;
  height: 100px;
}
.navbar-collapse {
  color: white;
  background: rgb(35, 114, 164);
}
.navbar-collapse .navbar-nav>li>a{
  color: white;
}
.navbar-nav{
  margin-top: 20px;
}
#brand{
  transform: scale(0.7);
  position: relative;
  top: -30px;
}
a, a:visited{
  text-decoration: none;
}
.icon-bar{
  color:white;
  background: white;
  border: 1px solid white;
}
